

.navBar{
    width: 90%;
    height: 80px;
    background-color: teal;
    display: flex;
    justify-content: center;
}

.navList{

    list-style: none;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
